streamlit==1.58.0
# utilities
numpy
pandas

# face recognition
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools<70.0.0

# database
supabase 
#provide hasing for the password
bcrypt

# generate QR for the give link 
segno
#deals with the image
pillow



librosa #read the audio file 
resemblyzer #create embeddings of the audio files 
